body {
  background-color: rgb(33, 21, 56);
  color: white;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

main ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background: #000000c6;
  color: white;
}

.movies {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  width: 100%;
  gap: 20px;
}

.movie {
  text-align: center;
}

.movie img {
  max-width: 100%; /* Asegura que las imágenes se ajusten al ancho del contenedor */
  height: auto; /* Permite que la altura de la imagen se ajuste automáticamente */
  border-radius: 8px;
  object-fit: cover; /* Asegura que las imágenes mantengan su relación de aspecto y cubran el contenedor */
}

.sorter {
  margin-left: 30px;
  margin-top: 10px;
}
